*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.app{
    height:400px;
    width: 500px;
    background-color: floralwhite;
    margin:130px auto 0;
    padding: 50px;
    border-radius: 10px;
}
h1{
    text-align: center;
}